:root {
  --bg-color: #fff;
  --dark-bg-color: #2F303A;
  --accent-color: #2196F3;
  --main-txt-color:#757575;
  --titlte-color: #212121;
  --second-txt-color: #fff;
  --hero-btn-accent-color: #188CE8;
  --btn-bg: #F5F4FA;
  --section-bg: #F5F4FA;
  --card-brdr-color: #eee;
  --bg-img: #C4C4C4;
  --icon-color:#AFB1B8;
  --footer-bg-icon:rgb(255, 255, 255, 0.1);
  --our-works-title: rgba(47, 48, 58, 0.8);
  --card-img-bg:  rgba(33, 150, 243, 0.9);
}

/* ?visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ! General */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: var(--accent-color);
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus{
  color: var(--accent-color);
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* .container{
  padding: 0 calc(50vw - 593.5px);
} */


/* * Joint */

/* Header */

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  border-bottom : 1px solid #ECECEC;
  background: var(--bg-color);
}

.header .container{
  display: flex;
  align-items: center;
}

.header .link{
  padding: 32px 0;
}

.header .logo{
  margin-right: 93px;
  color: #000;
}

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--title-color);
  
}

.nav,  .header-contacts{
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list, 
.header-contacts {
  display: flex;
}
.list-item +.list-item,
.header-contacts-item + .header-contacts-item
{
  margin-left: 50px;
  
}

.page{
 color: var(--titlte-color);
}

.current{
  color: var(--accent-color);
  position: relative;
}

.current::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;  
  background-color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts .link {
  color: var(--main-txt-color);
  display: flex;
  align-items: center;
}

.header-contacts .link:hover,
.header-contacts .link:focus{
  color: var(--accent-color);
}

.header-contacts .icon{
  margin-right: 10px;
  fill: currentColor;
}

/* *Footer */

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer .container{
  display: flex;
  align-items: baseline;
}

.footer .logo{
  margin-bottom: 20px;
  color: #fff;
}

.address-list {
  font-style: normal;
}

.address-item + .address-item{
  margin-top: 9px;
}

.place {
  color: var(--second-txt-color);
}

.footer-contact {
  color:rgba(var(--second-txt-color), 0.6) ;
}

.info-contact{
  margin-right: 70px;
}

.info-social{
   margin-right: 70px;
}

.info-social p, .subscribe{
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-txt-color); 
  text-transform: uppercase;
}

.info-social .social-links .link{
  color: var(--second-txt-color);
  background-color: var(--footer-bg-icon);
}

.form-footer{
  flex-grow: 1;
}

.subscribe-fld{
  display: flex;

}

.inptfld{
  flex-grow: 1;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--second-txt-color);
}

.inptfld::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

}

.subscribebtn{
  width: 200px;
  height: 50px;

  padding: 10px 29px;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--second-txt-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribebtn .icon{
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--second-txt-color);
}

.subscribebtn:hover,
.subscribebtn:focus{
  background-color: var(--hero-btn-accent-color);
}



/*? Studio */

/* *Hero */

.hero {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  max-width: 1600px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  
  text-align: center;

  background-color: var(--bg-img);
  background-image: linear-gradient(
    to right, 
    rgb(47, 48, 58, 0.4), 
    rgb(47, 48, 58, 0.4)),
   url('../images/studio/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-txt-color);
}
.hero-btn {
  padding: 10px 32px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--second-txt-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
  background-color: var(--hero-btn-accent-color);
}

/*  */

.section-title {
  margin-bottom: 50px;
  
  font-weight: 600;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titlte-color);
}

/* *specifics */


.specifics.section {
 padding-bottom: 0;
}

.specifics-list {
  display: flex;
}

.specifics-item {
  flex-basis: calc((100% - 90px) / 4 );
  /* width: calc((100% - 90px) / 4 ); */
}

.specifics-icon{
  padding: 25px 0;
  margin-bottom: 30px;
  text-align: center; 
  background: var(--section-bg);
  border-radius: 4px;
}

.specifics-item + .specifics-item{
  margin-left: 30px;
}

.specific-title {
  margin-bottom: 10px;
  
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titlte-color);
}

/* *our-works */

.our-works-list {
  display: flex;
}

.our-works-item {
  width: calc((100% - 60px) / 3 );
  position: relative;
}

.our-works-item + .our-works-item{
  margin-left: 30px;
}

.our-works-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

font-style: normal;
font-weight: 600;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--second-txt-color);
  background-color: var(--our-works-title);
}

/* * our-team */

.our-team {

  background-color: var(--section-bg);
}
.our-list {
  display: flex;
}

.our-item {
  width: calc((100% - 90px) / 4 );

  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-color);
}

.our-item + .our-item {
  margin-left: 30px;
}

.our-item > .text-content{
  padding: 30px 0;
}

.name, .career{
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.name {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--titlte-color);
}

.career{
  margin-bottom: 16px;
}

.social-links{
  display: flex;
  justify-content: center;
}

.social-item + .social-item{
  margin-left: 10px;
} 

.social-item .link{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 44px;
  height: 44px;
  /* padding: 12px 0; */
  color: var(--icon-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item .link:hover,
.social-item .link:focus{
  color: var(--second-txt-color);
  background-color: var(--accent-color);
}

.social-item .icon{
  fill: currentColor;
}

/* regular-customers */

.regular-customers .list{
  display: flex;
}

.regular-customers-item{
  width: calc((100% - 150px) / 6 );
}

.regular-customers-item + .regular-customers-item{
  margin-left: 30px;
}

.regular-customers .link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  /* padding: 16px 0; */
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers .link:hover,
.regular-customers .link:focus{
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-customers-item .icon{
  fill: currentColor;
}

/* ? Portfolio */

.product{
  margin-top: 80px;
}

.filter-btn {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-item:not(:nth-last-child(1)){
  margin-right: 8px;
}

.btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bg);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus{
  color: var(--second-txt-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.carts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carts-list > .item {
  /* width: calc((100% - 60px) / 3 ); */
  width: 370px;

  border-radius: 4px;
}

.carts-list > .item:not(:nth-last-child(-n + 3)){
 margin-bottom: 30px;
}

.card {
  display: block;

  transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .txt,
.card:focus .txt{
  transform: translateY(0);
}

.img-txt-content{
  position: relative;
  overflow: hidden;
}

.img-txt-content .txt{
  position: absolute;
  top: 0;
  padding: 64px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-txt-color);
  background-color: var(--card-img-bg);

  transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.card .title-content{
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.card-title {
  margin-bottom: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titlte-color);
}

.card-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

/* backdrop */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition:  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    all 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  z-index: 999;
}

.backdrop.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.15) ;
 /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ; */
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal .close{
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border-radius: 50%;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close .icon{
  fill: currentColor;
}

.close:hover, .close:focus {
  color: var(--accent-color);
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.form-title{
  margin-bottom: 12px;
  
  font-weight: 700;
  font-size: 20px;  
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--titlte-color);
}

.form-label{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.label-text{
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

}

.form-label .icon{
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;
  color: var(--titlte-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.form-input{
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: var(--accent-color);
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.form-label:focus-within .form-input{
  border-color: var(--accent-color);
}
.form-label:focus-within .icon{
  color: var(--accent-color);
}

.form-input.textarea{
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-input.textarea::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label.form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-label.form-checkbox .form-link{
  color: var(--accent-color);
}

.checkbox{
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid ;
  border-color: #212121;
  border-radius: 2px;

  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox .icon{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -2px;
  left: -2px;
   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox input:checked ~ .checkbox{
  border-color: transparent;
}

.form-checkbox input:checked ~ .checkbox .icon{
  visibility: visible;
  opacity: 1;
}

.submit{
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--second-txt-color);

  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.submit:hover,
.submit:focus{
  background-color: var(--hero-btn-accent-color);
}